@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

/* Basic Reset */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: none;
    }
}

html *,
html *::after,
html *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("https://i.imgur.com/YvUPGUK.jpg");
    font: 100%/1.6 'Open Sans', sans-serif;
}

/* Titulos */
h1 {
    text-align: center;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 2rem;
}

.fs-subtitle {
    font-size: 13px;
    color: #2b2a2a;
    margin-bottom: 20px;
    text-align: center;
}

.fs-subtitle-error {
    font-size: 13px;
    color: red;
    margin-bottom: 20px;
}

.login-box {
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin: 20px auto;
    /* Ajustar el margen y centrar horizontalmente */
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: purple;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
}

/* CSS */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, rgba(128, 0, 128, 0.521) 0, purple 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px,
        rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-29:focus {
    box-shadow: purple 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px,
        rgba(45, 35, 66, .3) 0 7px 13px -3px, #1c03ce 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px,
        #1c03ce 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: purple 0 3px 7px inset;
    transform: translateY(2px);
}